
  <div data-role="content">


    <div data-role="navbar" data-iconpos="left">
      <ul>
        <li><a href="<%= url_for(:action => 'index', :controller => 'welcome',:format=>'mobile') %>" class="ui-btn-active" data-icon="home" >Home</a>    </li>
        <li><a href="<%= url_for(:action => 'services', :controller => 'welcome',:format=>'mobile') %>" data-icon="gear">Services</a>   </li>
        <li><a href="<%= url_for(:action => 'contact', :controller => 'welcome',:format=>'mobile') %>" data-icon="info">Contact</a>       </li>
      </ul>
    </div><!-- /navbar -->

    <% session[:mobile_view]=true %>
    <div class="head1"> Who we are</div>
    <div class="para"> We are small firm providing web solutions. concentrated on Ruby on rails for server side script.We can do services like Website creation, Web 2.0 User Interface, Graphic works for print media etc..</div>
    <div class="head1">  Our motto </div>
    <div class="para">We believe in making a positive impact on the environment, consumers, employees, communities, stakeholders and all other members of the public sphere by our activities. we wish to promote  public interest by encouraging community growth and development. we wish to voluntarily eliminating practices that harm the public sphere and deliberately include public interest into corporate decision-making by honoring people, planet, and profit.</div>



  </div><!-- /content -->

