<div data-role="content">

  <div data-role="navbar" data-iconpos="left">
    <ul>
      <li><a href="<%= url_for(:action => 'index', :controller => 'welcome',:format=>'mobile') %>"  data-icon="home" >Home</a>    </li>
      <li><a href="<%= url_for(:action => 'services', :controller => 'welcome',:format=>'mobile') %>" data-icon="gear">Services</a>   </li>
      <li><a href="<%= url_for(:action => 'contact', :controller => 'welcome',:format=>'mobile') %>" data-icon="info">Contact</a>       </li>
    </ul>
  </div><!-- /navbar -->
  <div class="head1"> Ruby On Rails</div>

  <div class="para">
    We provide web solutions using ruby on rails and related web technologies like jQuery, Compass, Blueprint, HAML, SASS, MySQL and RSpec.
    <br/> <br/>
    <div class="subHead"> Application API </div><br/>

    We provide services using 1) Google Map API, 2) Amazon-web-services API, 3) Paypal-integration API, 4) Garmin Communicator Plugin API.

    <br/><br/>

    <div class="subHead"> Share code, Cloud share</div>
    <br/>

    Provide service to implement applications in Heroku, GitHub, and pivotalTracker


  </div>

  <div class="head1"> Site Development</div>

  <div class="para">

    Our Services include Web Master services, Site development, Domain registration, Web hosting, Slicing, Content development, Implementing SEO features, Blog links, Affiliation links, SMM features like share buttons, like buttons, Follow me buttons, YouTube, Google Maps, and chatting components.
    We also take care for pages being "W3C "valid, and "table less"

  </div>

  <div class="head1"> Graphic Design</div>
  <div class="para">

    Our services include creation of Logo, Brochure, Flyer, Business card, Banner, Mockups, Background removal, Photo enhancement, Photo editing, etc..

  </div>


</div><!-- /content -->