<div id="navigation">
  <div id="navigationspace">
    &nbsp;
  </div>

  <ul id="menu" class="dropdown">
    <li><a href="<%= url_for(:action => 'index', :controller => 'welcome') %>">Home</a>    </li>
    <li><a href="<%= url_for(:action => 'rails', :controller => 'welcome') %>">Development</a>   </li>
    <li><a href="<%= url_for(:action => 'contact', :controller => 'welcome') %>">Contact</a>       </li>
  </ul>
</div>
<div id="firstColumn">
    <div class="head1"> Our Services</div>
    <div class="para">

    <br/>
    Our service concentrated on web and it's related technologies. we love open source philosophy. we use Linux and other "Free" softwares for the development process. <br/><br/>

    For server side scripting we using ruby on rails. Other service include usage of Google map API, Amazon-web-services API, Paypal-integration API, Garmin Communicator Plugin API, Site design, Slicing, Web master services, Brochure, Flayer,Business card, Banner,Mock ups,etc..<br/><br/>


  </div>




</div>

<div id="lastColumn">



  <div class="head2"> Payment</div>
  <div id="payment">

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="JYHMT9GAXEGCJ">
      <table>
        <tr><td><input type="hidden" name="on0" value="Service Charges">Service Charges</td></tr><tr><td><select name="os0">
        <option value="1">1 $50.00 USD</option>
        <option value="2">2 $100.00 USD</option>
        <option value="3">3 $200.00 USD</option>
        <option value="4">4 $500.00 USD</option>
      </select> </td></tr>
      </table>
      <input type="hidden" name="currency_code" value="USD">
      <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>

  <div class="head2"> Question & Answers</div>

     <script src="http://feeds.feedburner.com/KlairvoyantsBlog?format=sigpro" type="text/javascript" ></script><noscript><p>Subscribe to RSS headline updates from: <a href="http://feeds.feedburner.com/KlairvoyantsBlog"></a><br/>Powered by FeedBurner</p> </noscript>

</div>
