<div data-role="content">

  <div data-role="navbar" data-iconpos="left">
    <ul>
      <li><a href="<%= url_for(:action => 'index', :controller => 'welcome',:format=>'mobile') %>"  data-icon="home" >Home</a>    </li>
      <li><a href="<%= url_for(:action => 'rails', :controller => 'welcome',:format=>'mobile') %>"  data-icon="gear">Development</a>   </li>
      <li><a href="<%= url_for(:action => 'contact', :controller => 'welcome',:format=>'mobile') %>"  data-icon="info">Contact</a>       </li>
    </ul>
  </div><!-- /navbar -->

  <div class="head1"> Our Services</div>
  <div class="para">

    <br/>
    Our service concentrated on web and it's related technologies. we love open source philosophy. we use Linux and other "Free" softwares for the development process. <br/><br/>

    For server side scripting we using ruby on rails. Other service include usage of Google map API, Amazon-web-services API, Paypal-integration API, Garmin Communicator Plugin API, Site design, Slicing, Web master services, Brochure, Flayer,Business card, Banner,Mock ups,etc..<br/><br/>
  </div>


</div><!-- /content -->