#headerBlock {
  text-align: center;
  font-size: 150%;
 }
#smallHeaderBlock {
  text-align: center;
  font-size: 80%;
}
#bottomBlock {
  text-align: center;

}
.head1 {
  color:#1574c4;
  font-size: 130%;
  text-align: center;
  margin-bottom:1%;
}
.para {

  text-align: justify;
}
.notice2 {
  text-align: center;
  color: #ff0000;
}
.subHead {
  color:#1574c4;
  font-size: 90%;
  font-family: sans-serif;

}