// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "blueprint/liquid";
@import "compass/css3";


#fir {
      background-color: red;
      @include border-top-left-radius(25px);
      color: green;

      }
#headSection {
  @include column(24,true);
  height: 200px;
  background-color: orange;
  text-align: center;

}

#firstColumn {

   @include column(16);
   background-color: #ffebcd;

}
#lastColumn {

  @include column(8,true);
  background-color: #eee8aa;

}

