// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "blueprint/liquid";
@import "compass/css3";

/*#fir {
      background-color: red;
      @include border-top-left-radius(25px);
      color: green;

}*/

#headSection {
  @include column(24,true);
  height: 250px;
  text-align: center;
  background-image: url("klairvoyantlogo.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  font-family: 'Tangerine', serif;
  font-size: 100px;
  color: #4cb4e9;



}

#firstColumn {

   @include column(16);
   background-color: #ffebcd;

}
#lastColumn {

  @include column(8,true);
  background-color: #eee8aa;

}
#addThis {
  @include column(16);
  /*position: relative;
  left: 100px;*/
  padding-bottom: 30px;
  padding-top: 30px;

}
#translate {
  @include column(8,true);
  /*position: relative;
  left: 100px;*/
  padding-bottom: 30px;
  padding-top: 30px;
}
#testimonials {
  @include column(8,true);

}

#footerSection {
  @include column(16, true);

}

#payment {

}
/*for feed burner*/

div.feedburnerFeedBlock {
  border:2px solid #ddd;
  background-color:#ffe;
  padding:12px;
}


div.feedburnerFeedBlock ul li span.headline {
  font-weight:bold;
}
div.feedburnerFeedBlock ul {
  margin-left:0;
  padding-left:0;
  list-style-type: none
}
div.feedburnerFeedBlock ul li span.headline {
  font-weight:bold;
  display:block;
  margin:12px 0 0 0;
}

/*for feed burner*/

#navigation {

  font-size: 20px;
  font-family: sans-serif;

}